# editorconfig for Say Hello Projects

[*]
indent_style = tab
indent_size = 4
end_of_line = lf
charset = utf-8
trim_trailing_whitespace = true
insert_final_newline = true
max_line_length = off
tab_width = 4
quote_type = single

[*.{js, ts, tsx, jsx, css, json}]
max_line_length = off
insert_final_newline = true
indent_style = space
indent_size = 2
trim_trailing_whitespace = true
