{
  "plugins": [
    "import",
    "prettier"
  ],
  "parser": "babel-eslint",
  "extends": [
    "plugin:prettier/recommended"
  ],
  "rules": {
    "no-console": "warn"
  },
  "settings": {
    "import/resolver": {
      "node": {
        "extensions": [
          ".js",
          ".jsx"
        ]
      }
    },
    "webpack": {
      "config": "webpack.config.babel.js"
    }
  }
}