.card {
  :global(.hndle) {
    cursor: pointer !important;
    line-height: 1;
  }

  :global(.toggle-indicator)::before {
    position: relative;
    top: .05rem;
    text-indent: -1px;
    content: "\f140";
    width: 20px;
    border-radius: 50%;
    display: inline-block;
    font: normal 20px/1 dashicons;
  }

  &:global(.closed) {
    :global(.toggle-indicator)::before {
      content: "\f142";
    }
  }
}
