.svg {
    margin: 0;

    &.inline {
        width: 1em;
        height: 1em;
        display: inline-block;
    }

    svg {
        width: 100%;
        height: auto;
        display: block;
    }
}