
.navigation {
  border-bottom: 1px solid #ccc;
  margin: 0 0 23px 0;
  padding-top: 9px;
  padding-bottom: 0;
  line-height: inherit;
  display: flex;
}

.link {
  display: block;
  border: 1px solid #ccc;
  border-bottom: none;
  margin-left: .5em;
  padding: 5px 10px;
  font-size: 14px;
  line-height: 1.71428571;
  font-weight: 600;
  background: #e5e5e5;
  color: #555;
  text-decoration: none;
  white-space: nowrap;

  &:hover {
    background-color: #fff;
    color: #444;
  }
}

.linkActive {
  border-bottom: 1px solid #f1f1f1;
  background: #f1f1f1;
  color: #000;
  margin-bottom: -1px;

  &:hover {
    background: #f1f1f1;
    color: #000;
  }
}

