@charset "UTF-8";
@import "compass/css3";
@import "../../../assets/settings.json";

$default-transition-property: all;
$default-transition-duration: 200ms;
$default-transition-function: ease-in-out;
$default-transition-delay: false;

.offline-indicator {
	background-color: #000;
	color: #fff;
	padding: .9rem;
	position: fixed;
	z-index: 9999;
	left: 0;
	bottom: 0;
	width: 100%;
	@include translateY(100%);
	will-change: transform;
	@include single-transition(transform);
	p {
		margin: 0 0 0 0;
		color: #fff;
		font-size: .9rem;
		text-align: center;
	}
}

.offline-indicator--top {
	bottom: inherit;
	top: 0;
	@include translateY(-100%);
}

body.pwp-offline {
	.offline-indicator,
	.offline-indicator--top {
		@include translateY(0);
	}
}