@import "../../../assets/settings.json";
@import "includes/compass/compass";
@import "includes/compass/animate";

$default-transition-property: all;
$default-transition-duration: $easing_speed+ms;
$default-transition-function: ease-in-out;
$default-transition-delay: false;

@import "ui/spinner/spinner";

@import "ui/offline-indicator";
@import "ui/notification-button";