.offline-indicator {
  background-color: #000;
  color: #fff;
  padding: .9rem;
  position: fixed;
  z-index: 9999;
  left: 0;
  bottom: 0;
  width: 100%;
  -moz-transform: translateY(100%);
  -ms-transform: translateY(100%);
  -webkit-transform: translateY(100%);
  transform: translateY(100%);
  will-change: transform;
  -moz-transition: -moz-transform ease-in-out;
  -o-transition: -o-transform ease-in-out;
  -webkit-transition: -webkit-transform ease-in-out;
  transition: transform ease-in-out;
}
.offline-indicator p {
  margin: 0 0 0 0;
  color: #fff;
  font-size: .9rem;
  text-align: center;
}

.offline-indicator--top {
  bottom: inherit;
  top: 0;
  -moz-transform: translateY(-100%);
  -ms-transform: translateY(-100%);
  -webkit-transform: translateY(-100%);
  transform: translateY(-100%);
}

body.pwp-offline .offline-indicator,
body.pwp-offline .offline-indicator--top {
  -moz-transform: translateY(0);
  -ms-transform: translateY(0);
  -webkit-transform: translateY(0);
  transform: translateY(0);
}

.notification-button {
  -moz-transform: scale(0, 0);
  -ms-transform: scale(0, 0);
  -webkit-transform: scale(0, 0);
  transform: scale(0, 0);
  outline: none;
  border: none;
  position: fixed;
  bottom: 20px;
  left: 20px;
  padding: 0;
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
  border-radius: 50%;
  z-index: 9000;
  cursor: pointer;
  -moz-transition: all ease-in-out;
  -o-transition: all ease-in-out;
  -webkit-transition: all ease-in-out;
  transition: all ease-in-out;
  -moz-transition-duration: 100ms;
  -o-transition-duration: 100ms;
  -webkit-transition-duration: 100ms;
  transition-duration: 100ms;
}
.notification-button:hover {
  -moz-transform: scale(1.04, 1.04);
  -ms-transform: scale(1.04, 1.04);
  -webkit-transform: scale(1.04, 1.04);
  transform: scale(1.04, 1.04);
}

body.pwp-notification .notification-button {
  -moz-transform: scale(1, 1);
  -ms-transform: scale(1, 1);
  -webkit-transform: scale(1, 1);
  transform: scale(1, 1);
}

.notification-button__icon {
  display: block;
  padding: .8em;
}
.notification-button__icon svg {
  width: 1em;
  height: 1em;
  display: block;
}

.notification-button__icon--on {
  display: none;
}

body.pwp-notification--on .notification-button__icon--on {
  display: block;
}
body.pwp-notification--on .notification-button__icon--off {
  display: none;
}
