.pushpost-meta-container {
	.pushpost-meta--send {
		display: block;
	}

	.pushpost-meta--done {
		display: none;
	}

	&.pushpost-done {
		.pushpost-meta--send {
			display: none;
		}

		.pushpost-meta--done {
			display: block;
		}
	}

	.pushpost-meta__sendagain {
		cursor: pointer;
	}
}