.pwp-activate-notice {
	display: flex;
	justify-content: space-between;
	align-items: center;

	&__configure {
		margin-right: 20px !important;
		margin-left: 20px !important;
	}

	&__about {
		padding: .7rem 0;
	}

	&__title {
		font-size: 1.1rem;
		margin: .5rem 0 .7rem 0;
	}
}