.pwp-smaller {
	font-size: smaller !important;
}

.wp-core-ui p,
.pwp-wrap {
	.button-pwpdelete {
		background-color: transparent;
		border: none;
		@include box-shadow(none);
		color: #a00;
		padding: 0;
		&:hover {
			color: #dc3232;
		}
		&:active {
			background-color: transparent;
			border-color: none;
			@include box-shadow(none);
		}
	}
}

.pwp-status__icon {
	display: inline-block;
	margin-right: .5rem;
	svg {
		width: 1em;
		height: 1em;
		margin-bottom: -.15em;
	}
}

.pwp-status--success {
	.pwp-status__icon {
		color: #1ca868;
	}
}

.pwp-status--error {
	.pwp-status__icon {
		color: #dc3232;
	}
}