.pwp-settings-wrap {
	.form-table td {
		vertical-align: top;
	}
	h1 {
		margin-bottom: 20px;
	}
	form {
		margin-top: 20px;
		select {
			width: 150px;
		}
		textarea {
			width: 100%;
		}
	}

	.beta p {
		font-size: smaller;
	}

	p.error {
		font-weight: bold;
		color: red;
	}

	.settings-sub {
		margin-top: 20px;
		max-width: 430px;
		width: 100%;
	}

	.settings-sub-serverpush-htaccess {
		background-color: #fff;
		border: 1px solid #e5e5e5;
		@include box-shadow();
		padding: 15px;
		max-width: 400px;
		position: relative;
		.loader {
			display: none;
			background-color: rgba(#fff, .6);
			position: absolute;
			bottom: 0;
			right: 0;
			left: 0;
			top: 0;
			&:after {
				position: absolute;
				content: '';
				top: 50%;
				left: 50%;
				margin-top: -20px;
				margin-left: -20px;
				@include spinner(40px, 5px solid #898989);
			}
		}

		.info {
			font-size: smaller;
			margin-bottom: 20px;
		}
	}

	.files-list {
		margin-bottom: 25px;
		li {
			&:last-child {
				display: none;
			}
			&:first-child {
				display: block;
			}

			label {
				code {
					display: block;
					font-size: smaller;
				}
			}

			&.no-items {
				font-size: smaller;
			}
		}
	}
}