.list {
}

.listEntry {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0;

  + .listEntry {
    margin-top: 0.6em;
    padding-top: 0.6em;
    border-top: 1px solid #efefef;
  }
}

.url {
  flex: 0 1 calc(100% - 1.6rem);
  font-size: 0.75rem;
  line-height: 1.4;
}

.addUrlContainer {
  margin-top: 2rem;
  padding-bottom: 2rem;
  position: relative;
}

.addUrl {
  display: flex;
  align-items: center;
}

.addUrlTitle {
}

.addUrlInput {
  margin-right: 1rem;
  flex: 0 1 calc(100% - 1.6rem);
}

.addUrlError {
  font-size: 0.7rem;
  position: absolute;
  color: #a00;
  left: 0;
  bottom: 0;
  width: 100%;
}

.buttonRemove,
.buttonAdd {
  width: 1.4rem;
  height: 1.4rem;
  text-indent: -9999px;
  position: relative;
  padding: 0;
  border-radius: 50%;
  cursor: pointer;
  background-color: transparent;
  border: 1px solid #9f9f9f;
  transition: 200ms all ease-in-out;

  &:after,
  &:before {
    content: '';
    display: block;
    position: absolute;
    width: 2px;
    height: 100%;
    left: 50%;
    top: 50%;
    transform: translateX(-50%) translateY(-50%) scale(0.6) rotate(0);
    background-color: currentColor;
  }
}

.buttonAdd {
  &:hover {
    background-color: #e2e2e2;
  }
}

.buttonRemove {
  border: 1px solid #a00;
  background-color: #a00;
  color: #fff;
  opacity: 0;
  transform: scale(0.9);

  &:after {
    transform: translateX(-50%) translateY(-50%) scale(0.6) rotate(45deg);
  }

  &:before {
    transform: translateX(-50%) translateY(-50%) scale(0.6) rotate(-45deg);
  }
}

.listEntry:hover .buttonRemove {
  opacity: 0.6;

  &:hover,
  &:active {
    opacity: 1;
  }
}

.buttonAdd {
  &:after {
    transform: translateX(-50%) translateY(-50%) scale(0.6) rotate(0);
  }

  &:before {
    transform: translateX(-50%) translateY(-50%) scale(0.6) rotate(90deg);
  }
}
